<div class="root-model" [style.display]="state">
    <div class="main-model">
        <div class="close-model" (click)="close()">
            <span>&times;</span>
        </div>
        <div class="body-model">
            <div class="search-bar">
                <i><h4>Search</h4></i>
                <div class="input-bar">
                    <input type="search" name="search" placeholder="Search">
                    <img src="../../assets/img/icons8-search-32.png" alt="">
                </div>
            </div>
            <div class="result">
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div> 
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div> 
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div> 
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div>
                <div class="list-item">
                    hebron
                </div> 
                <div class="list-item">
                    hebron
                </div>  
            </div>
        </div>
    </div>
</div>