<div class="day">
    <div class="day-state">
        <h1>{{dayElement.weather[0].main}}</h1>
        <h3>{{dayElement.weather[0].description}}</h3>
        <h4>{{dayElement.dt_txt |date}}</h4>
    </div>
    <div class="day-temp">
        <h1>{{dayElement.main.temp - 273.15 | number:0}} &#176;</h1>
    </div>
    <div class="day-temp-icon" [style.background-color] = "colorItem[index]">
        <img src="http://openweathermap.org/img/wn/{{dayElement.weather[0].icon}}@2x.png"  >
    </div>
</div>